:root{
  --bg:#020617;
  --panel:#0f172a;
  --text:#e5e7eb;
  --accent:#6366f1;
}

.light{
  --bg:#f1f5f9;
  --panel:#ffffff;
  --text:#0f172a;
}

body{
  margin:0;
  font-family:Arial;
  background:var(--bg);
  color:var(--text);
}

/* HEADER */
.app-header{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:12px 20px;
  background:linear-gradient(90deg,#6366f1,#06b6d4);
}

.top-right{
  display:flex;
  gap:10px;
  align-items:center;
}

#searchBox{
  padding:6px;
  border-radius:6px;
  border:none;
}

/* SELECTS */
.controls{
  display:flex;
  gap:10px;
  padding:15px 20px;
}

select{
  padding:6px;
  border-radius:6px;
  border:none;
}

/* NAV BUTTONS */
.question-nav{
  display:flex;
  gap:10px;
  padding:0 20px;
  margin-bottom:10px;
}

.question-nav button{
  padding:6px 12px;
  border-radius:6px;
  border:none;
  background:linear-gradient(90deg,#6366f1,#06b6d4);
  color:white;
  cursor:pointer;
}

/* QUESTIONS */
#questionArea{
  padding:20px;
}

.card{
  background:var(--panel);
  padding:15px;
  border-radius:10px;
  margin-bottom:10px;
}

.star{
  cursor:pointer;
  margin-left:6px;
}

.answer{
  margin-top:6px;
  padding:6px;
  border-left:3px solid var(--accent);
  background:rgba(99,102,241,.1);
  border-radius:6px;
}
